.header-logo {
  padding-top: 20px;
  right: 45px;
  position: relative;
   &::before {
     content: "";
     position: absolute;
     background-color: #111111;
     color: #000000;
     width: 2px;
     height: 20px;
     bottom: 12px;
     right: 7.9%;
     transform: rotate(45deg);
   }
  &::after {
    content: "";
    position: absolute;
    background-color: #111111;
    color: #000000;
    width: 20px;
    height: 2px;
    bottom: 21px;
    right: 6.4%;
    transform: rotate(45deg);
  }
}
.header-logo {
  display: flex;
  justify-content: center;
}
.header-logo__img-desk {
  &:hover {
    opacity: .5;
  }
}
.header__inner {
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .header__inner {
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
  }
  .header-logo {
    padding-top: 10px;
    right: 0px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-color: #111111;
      color: #000000;
      width: 0px;
      height: 0px;
      bottom: 12px;
      right: 8%;
      transform: rotate(45deg);
    }
    &::after {
      content: "";
      position: absolute;
      background-color: #111111;
      color: #000000;
      width: 0px;
      height: 0px;
      bottom: 21px;
      right: 8%;
      transform: rotate(45deg);
    }

}

@media only screen and (min-width: 1024px) {

  .header__inner {
    display: flex;
    justify-content: space-between;
  }

}

}
