.item__link {
  font-family: 'Oswald-Regular',sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #111111;
  position: relative;

}
.menu {
  padding-top: 25px;
}
.menu__list {

  text-align: center;
}
.item {

  padding-bottom: 25px;
  padding-top: 25px;
  border-top: 2px solid #e6e6e6;
}
@media only screen and (min-width: 768px) {
  .menu {
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

  }
  .menu__list {
    align-items: center;
    display: flex;
    flex-direction: row;

  }
  .item__link {
    display: flex;
    font-family: 'Oswald-Regular',sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #222222;
    position: relative;
    margin: 0;

  }

  .item-active {
      border-bottom: 2px solid #68b738;

  }
  .item {
    padding-bottom: 0px;
    padding-top: 0px;
    border-top: none;
    margin-left: 30px;
  }

}

@media only screen and (min-width: 1024px) {


}
